* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    max-width: 800px;
    padding: 30px;
    margin: 20px auto;
}

.forms-wrapper {
    max-width: 800px;
    padding: 25px;
    margin: 20px auto;
    border: 3px solid black;
    border-radius: 10px;
}

.form-header { margin-bottom: 5px; }

.field-set {
    padding: 10px;
}

.question { margin-bottom: 20px; }
.question:last-child { margin-bottom: 0; }

input[type=checkbox], 
input[type=radio] {
    margin-right: 5px;
}

select {
    display: block;
    margin-top: 5px;
}

.data-display-header { margin-bottom: 5px; }

.data-display-list li { list-style-position: inside; }