* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    max-width: 800px;
    padding: 30px;
    margin: 20px auto;
}

.forms-wrapper {
    position: relative;
    max-width: 800px;
    padding: 25px;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 10px;
}

.form-header { margin-bottom: 15px; }

.field-set {
    padding: 10px;
}

.question { 
    margin-bottom: 15px; 
}


input[type=checkbox], 
input[type=radio] {
    margin: 0 5px;
}

input[type=radio]:first-child {
    margin-left: 0;
}

.select, input[type=text], input[type=number] {
    display: block;
    margin-top: 5px;
}

.data-display-header { margin-bottom: 15px; }

.data-display-list li { list-style-position: inside; }

.secret-btn {
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 100px;
    right: 0;
}

.question:last-child { margin-bottom: 0; }

.submit-btn {
    margin-bottom: 30px;
}

.window-width {
    margin: 15px 0 0 0;
}

.popup-image {
    width: 100%;
}