* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    max-width: 800px;
    padding: 30px;
    margin: 20px auto;
}

.forms-wrapper {
    position: relative;
    max-width: 800px;
    padding: 25px;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 10px;
}

.form-header { margin-bottom: 15px; }

.field-set {
    padding: 10px;
}

.question { 
    margin-bottom: 15px; 
}


input[type=checkbox], 
input[type=radio] {
    margin: 0 5px;
}

input[type=radio]:first-child {
    margin-left: 0;
}

.select, input[type=text], input[type=number] {
    display: block;
    margin-top: 5px;
}

.data-display-header { margin-bottom: 15px; }

.data-display-list li { list-style-position: inside; }

.secret-btn {
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 100px;
    right: 0;
}

.question:last-child { margin-bottom: 0; }

.submit-btn {
    margin-bottom: 30px;
}

.window-width {
    margin: 15px 0 0 0;
}

.popup {
    position: fixed;
    max-width: 850px;
    background-color: white;
    transform: translate(-50%, -50%) scale(0%) rotate3d(0, 0, 0, 0);
    transition: 1.5s ease-in-out;  
    width: 80%;
    top: 50%;
    left: 50%;
    border: 1px solid black;
    border-radius: 10px;
}

.popup.active {
    transform: translate(-50%, -50%) scale(100%) rotate3d(1, 1, 1, -2880deg);
}

.popup-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

#popup-close-btn {
    background: none;
    width: 35px;
    height: 35px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-text {
    font-weight: bold;
    font-size: 2rem;
}

.popup-image {
    width: 100%;
    margin-bottom: -4px;
    border-radius: 0 0 10px 10px;
}